
body{
    background: #2596be;
    text-align: center;
}

h1{
    text-align: center;
}

.corpo1{
    text-align: center;
    background: #fff;
    height: auto;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    

}

.botao{
    background: #2596be;
    padding: 5px;
    color: #fff;
    border-radius: 40%;
}

.div{
    text-align: center;
}